<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>分类信息</title>
    <link rel="stylesheet" href="{C('domain.main')}/public/admin/css/pintuer.css">
    <link rel="stylesheet" href="{C('domain.main')}/public/admin/css/admin.css">
    <script src="{C('domain.main')}/public/admin/js/jquery.js"></script>
    <script src="{C('domain.main')}/public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong>分类内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{C('domain.main')}/index.php?p=admin&m=cat&a=catAddHandle">
      <input type="hidden" name="id"  value="" />
      <div class="form-group">
        <div class="label">
          <label>分类名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="name" value="" data-validate="required:请输入分类名称" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>选择分类：</label>
        </div>
        <div class="field">
            <select name="parent_id" style="height:40px;width:250px;padding-left:12px;border:1px solid #dddddd;">
                <option value="0">---请选择分类---</option>
                {foreach from=$cats item='cat'}
                <option value="{$cat.id}">{str_repeat('---',$cat.level)}{$cat.name}</option>
                {/foreach}
            </select>
          <div class="tips"></div>
        </div>
      </div>
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>