<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>修改博文信息</title>
<link rel="stylesheet" href="{C('domain.main')}/public/admin/css/pintuer.css">
<link rel="stylesheet" href="{C('domain.main')}/public/admin/css/admin.css">
<script src="{C('domain.main')}/public/admin/js/jquery.js"></script>
<script src="{C('domain.main')}/public/admin/js/pintuer.js"></script>
<script src="{C('domain.main')}/public/admin/ckeditor/ckeditor.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong> 修改博文信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{C('domain.main')}/index.php?p=admin&m=article&a=editArticleHandle&id={$article.id}">
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="title" value="{$article.title}" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>简介：</label>
        </div>
        <div class="field">
          <textarea rows="5" cols="80" name="intro" data-validate="required:请输入简介">{$article.intro}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>选择分类：</label>
        </div>
        <div class="field">
          <select name="category" style="height:40px;width:250px;padding-left:12px;border:1px solid #dddddd;" >
            <option value="0">---请选择分类---</option>
            {foreach from=$cats item='cat'}
            <option value="{$cat.id}|{$cat.name}" {if $cat.id==$article.cat_id} selected {/if} >{str_repeat('---',$cat.level)}{$cat.name}</option>
            {/foreach}
          </select>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>文章内容：</label>
        </div>
      </div>
      <div class="form-group" style="margin-top:-20px;">
        <div class="body">
          <textarea class="st-forminput" rows="5" cols="47" style="width:80%;" name="content">{$article.content}</textarea>
          <script>CKEDITOR.replace('content');</script>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <button class="button bg-main" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>