{include file="Common/head.html"}
<div class="pagebg ab"> </div>
<div class="container">
  <h1 class="t_nav"><span>你，我生命中一个重要的过客，我们之所以是过客，因为你未曾会为我停留。</span><a href="#" class="n1">网站反馈</a><a href="#" class="n2">留言列表</a></h1>
  <div class="news_infos">
    <form method="post" action="{C('domain.main')}/index.php?p=home&m=index&a=showLiuyan">
    <textarea rows="5" cols="90" style="border:1px solid deepskyblue;font-size:15px;padding-left:10px;padding-top:7px;" name="advice" placeholder="请留下您对本网站的足迹吧"></textarea>
    {if !isset($smarty.session.home)}
    <span class="sply">您还未登录,不能留言....</span>
    {else}
    <input type="submit" value="发表留言" class="fabiao">
    {/if}
    </form>
  </div>
  <div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="{if isset($smarty.session.home)} {$smarty.session.home.headimg} {else} {C('domain.main')}/public/home/images/avatar.jpg {/if} " alt="loading....."> </p>
      <p class="abname">LEARNMO | {if isset($smarty.session.home)} {$smarty.session.home.nickname} {else} 青春 {/if}</p>
      <p class="abposition"><b>系统架构</b></p>
      <p class="abtext"> 编程语言学习博客中心初衷，为了方便Developmental Engineer 总结开发经验和分享编程相关的知识，后期将不断完善本系统，谢谢大家的使用！</p>
    </div>
    <!--不可delete-->
    <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        <li><a href="#">CSDN博客</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">新浪微博</a></li>
      </ul>
    </div>
  </div>
  {foreach from=$liuyan item='liuyans'}
  <div class="blogs" data-scroll-reveal="enter bottom over 1s" style="width:712px;">
    <div class="bloginfo">
      <ul>
        <li class="author"><a href="#">{$liuyans.user_nickname}</a></li>
        <li class="timer">留言时间:{date('Y-m-d H:i',$liuyans.liuyan_time)}</li>
      </ul>
    </div>
    <span style="display:block;margin:13px 10px;text-indent:2em;">{$liuyans.advice}</span>
  </div>
  {/foreach}
  <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
    <ul class="pagination">
      <li>{$pageHtml}</li>
    </ul>
  </div>
</div>

<footer>
  <p>Design by <a href="#">编程语言学习博客中心</a> <a href="/">粤ICP备11002373号-1</a></p>
</footer>
<a href="#asd" class="cd-top">Top</a>
</body>
</html>
